h1 {
    text-align: center;
    color: blue;
}
body {
    background-color: bisque;
}
p {
    color: green;
}
ul li {
    color: red;
}
strong {
    color: slateblue;
}
footer {
    color: brown;
}